
html, body {
    background-color: #F7F9FC;
    font-family: sans-serif;
}

.message-box, .feature-box {
    border-style: solid;
    border-color: lightgrey;
    border-width: thin;
    background-color: white;
    border-radius: 5px;
    width: auto;
    margin: 10px;
}

.feature-box {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
}

.message-text {
    padding-left: 20px;
    color: gray;
}

.feature-title {
    color: #396DBC;
    padding-left: 20px;
    font-size: x-large;
}