
html, body {
    background-color: #F7F9FC;
    font-family: sans-serif;
}

.info {
    border-left: 5px solid rgba(0, 0, 255, 0.7) !important;
}

.success {
    border-left: 5px solid rgba(0, 200, 0, 0.7) !important; 
}

.warning {
    border-left: 5px solid rgba(255, 0, 0, 0.7) !important;
}

.message-box, .feature-box {
    border-style: solid;
    border-color: lightgrey;
    border-width: thin;
    background-color: white;
    border-radius: 5px;
    width: auto;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 20px;
    margin-top: 10px;
}

.message-text {
    padding-left: 20px;
    padding-top: 15px;
    color: gray;
}

.feature-box {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
}

.feature-title {
    color: #396DBC;
    padding-left: 30px;
    padding-top: 30px;
    font-size: x-large;
}

.feature-button {
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}