
html, body {
    background-color: #F7F9FC;
    font-family: sans-serif;
}

.info {
    border-left: 5px solid rgba(0, 0, 255, 0.7) !important;
}

.success {
    border-left: 5px solid rgba(0, 200, 0, 0.7) !important; 
}

.warning {
    border-left: 5px solid rgba(255, 0, 0, 0.7) !important;
}

.message-box, .feature-box {
    border-style: solid;
    border-color: lightgrey;
    border-width: thin;
    background-color: white;
    border-radius: 5px;
    width: auto;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 20px;
    margin-top: 10px;
}

.header-box {
    border-style: solid;
    border-color: lightgrey;
    border-width: thin;
    background-color: white;
    border-radius: 5px;
    width: auto;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 20px;
    margin-top: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.table-box {
    border-style: solid;
    border-color: lightgrey;
    border-width: thin;
    background-color: white;
    border-radius: 5px;
    width: auto;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 10px;
    margin-top: 30px; 
    padding-top: 15px;
}

.table-row {
    padding-top: 20px;
    padding-bottom: 20px;
}

hr {
    border-top: 1px solid lightgray;
    width: 100%;
}

.header-title, .table-empty {
    color: gray;
    font-size: large;
    margin-left: 30px;
    margin-right: 30px;
}

.table-empty {
    padding-top: 40px;
    padding-bottom: 40px;
}

.message-text {
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    color: gray;
}

.feature-box {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
}

.feature-title {
    color: #396DBC;
    padding-left: 30px;
    padding-top: 30px;
    font-size: x-large;
}

.feature-button {
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.modal-title {
    background-color: #F7F9FC; 
    font-size: large;
    color: black;
}

.modal-body {
    padding-left: 0;
    padding-right: 0;
    padding-top: 20px;
    padding-bottom: 20px;
}

.label-text {
    color: gray; 
}

.modal-row {
    margin-left: 20%;
    margin-right: 20%;
    padding-bottom: 20px;
}

.leave-row {
    padding-bottom: 15px; 
}

.leave-text {
    color: gray;
    margin-left: 30px;
    margin-right: 30px;
}

.leave-type {
    border-style: none;
    border-width: thin;
    border-radius: 5px;
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}