
html, body {
    background-color: #F7F9FC;
    font-family: sans-serif;
}

.message-box {
    border-style: solid;
    border-color: lightgrey;
    border-width: thin;
    background-color: white;
    border-radius: 5px;
    width: auto;
    margin: 10px;
}

.message-text {
    padding-left: 20px;
    color: gray;
}